body {
    font-family: sans-serif;
    line-height: 1.5;
    margin: 0;
}

div.header {
    text-align: center;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1;
}

img.header {
    margin: 0;
    width: auto;
    max-width: unset;
    box-shadow: none;
    transition-property: max-height;
    transition-duration: 0.5s;
}

div.card {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 10px;
    box-sizing: border-box;
}

li {
    margin-top: 1%;
    margin-bottom: 1%;
}

a.no-tap-color {
    -webkit-tap-highlight-color: transparent;
}

a.no-underline {
    text-decoration: none;
}

a.no-underline:hover {
    text-decoration: underline;
}

.high-top {
    margin-top: 30px;
}

.high-bottom {
    margin-bottom: 3%;
}

hr {
    width: 100%;
    text-align: center;
    margin-top: 3%;
    margin-bottom: 3%;
    height: 0px;
    border-left-width: 0;
    border-right-width: 0;
    border-top: 1px solid black;
    border-bottom: 1px solid white;
}

hr.dim {
    border-top: 1px solid rgba(0, 0, 0, 0.25);
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
}

img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin: 5px;
}

div.langs-cont {
    text-align: right;
    margin: 5px;
}

.horizontal-scroll {
    white-space: nowrap;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
}