<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  xmlns:tools="http://schemas.android.com/tools">

  <!-- Not required. It's added by build system due to libadb targeting Android SDK < 4 -->
  <uses-permission
    android:name="android.permission.READ_PHONE_STATE"
    tools:node="remove" />

  <!-- Not required. It's added by build system due to libadb targeting Android SDK < 4 -->
  <uses-permission
    android:name="android.permission.READ_EXTERNAL_STORAGE"
    tools:ignore="ScopedStorage"
    tools:node="remove" />

  <!-- Not required. It's added by build system due to libadb targeting Android SDK < 4 -->
  <uses-permission
    android:name="android.permission.WRITE_EXTERNAL_STORAGE"
    tools:ignore="ScopedStorage"
    tools:node="remove" />

</manifest>
