<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  xmlns:tools="http://schemas.android.com/tools">

  <uses-permission android:name="android.permission.INTERNET"/>
  <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES"
    tools:ignore="QueryAllPackagesPermission"/>
  <uses-permission
    android:name="android.permission.GET_APP_OPS_STATS"
    tools:ignore="ProtectedPermissions"/>
  <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
  <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

  <application
    android:allowBackup="true"
    android:extractNativeLibs="true"
    android:icon="@mipmap/ic_launcher"
    android:label="@string/app_name"
    android:name=".fwk.AppM"
    android:roundIcon="@mipmap/ic_launcher_round"
    android:supportsRtl="true"
    android:theme="@style/AppTheme"
    tools:ignore="AllowBackup">

    <activity
      android:exported="true"
      android:name=".fwk.MainActivityM">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>

    <activity
      android:name=".fwk.PackageActivityM"
      android:parentActivityName=".fwk.MainActivityM"/>

    <activity
      android:name=".fwk.SettingsActivityM"
      android:parentActivityName=".fwk.MainActivityM"/>

    <activity
      android:name=".fwk.AdvSettingsActivityM"
      android:parentActivityName=".fwk.MainActivityM"/>

    <activity
      android:name=".fwk.FilterSettingsActivityM"
      android:parentActivityName=".fwk.MainActivityM"/>

    <activity
      android:name=".fwk.AboutActivityM"
      android:parentActivityName=".fwk.MainActivityM"/>

    <activity
      android:name=".fwk.HelpActivityM"
      android:parentActivityName=".fwk.MainActivityM"/>

    <activity
      android:name=".fwk.CrashReportActivityM"
      android:parentActivityName=".fwk.MainActivityM"/>

    <service android:name=".fwk.LogcatSvcM" />

    <service
      android:exported="true"
      android:name=".fwk.DaemonRcvSvcM"
      tools:ignore="ExportedService" />

    <service
      android:name=".fwk.AdbConnectSvcM"
      android:exported="true"
      tools:ignore="ExportedService">
    </service>

    <provider
      android:authorities="${LOG_FILE_PROVIDER}"
      android:exported="false"
      android:grantUriPermissions="true"
      android:name="androidx.core.content.FileProvider">
      <meta-data
        android:name="android.support.FILE_PROVIDER_PATHS"
        android:resource="@xml/file_paths" />
    </provider>

  </application>

</manifest>
