<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  xmlns:tools="http://schemas.android.com/tools"
  package="com.mirfatif.permissionmanagerx">

  <uses-permission android:name="android.permission.INTERNET"/>
  <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES"
    tools:ignore="QueryAllPackagesPermission"/>
  <uses-permission
    android:name="android.permission.GET_APP_OPS_STATS"
    tools:ignore="ProtectedPermissions"/>
  <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>

  <application
    android:allowBackup="true"
    android:extractNativeLibs="true"
    android:icon="@mipmap/ic_launcher"
    android:label="@string/app_name"
    android:name=".app.App"
    android:roundIcon="@mipmap/ic_launcher_round"
    android:supportsRtl="true"
    android:theme="@style/AppTheme"
    tools:ignore="AllowBackup">

    <activity
      android:exported="true"
      android:name=".main.fwk.MainActivity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>

    <activity
      android:name=".pkg.fwk.PackageActivity"
      android:parentActivityName=".main.fwk.MainActivity"/>
    <activity
      android:name=".prefs.settings.SettingsActivity"
      android:parentActivityName=".main.fwk.MainActivity"/>
    <activity
      android:name=".prefs.fwk.FilterSettingsActivity"
      android:parentActivityName=".main.fwk.MainActivity"/>
    <activity
      android:name=".about.AboutActivity"
      android:parentActivityName=".main.fwk.MainActivity"/>
    <activity
      android:name=".ui.HelpActivity"
      android:parentActivityName=".main.fwk.MainActivity"/>

    <service android:name=".svc.LogcatService" />
    <service android:name=".svc.NotifDismissSvc" />
    <service
      android:exported="true"
      android:name=".svc.DaemonCmdRcvSvc"
      tools:ignore="ExportedService" />

    <provider
      android:authorities="com.mirfatif.permissionmanagerx.FileProvider"
      android:exported="false"
      android:grantUriPermissions="true"
      android:name="androidx.core.content.FileProvider">
      <meta-data
        android:name="android.support.FILE_PROVIDER_PATHS"
        android:resource="@xml/file_paths" />
    </provider>

  </application>

</manifest>
