<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  xmlns:tools="http://schemas.android.com/tools">

  <application tools:ignore="AllowBackup,MissingApplicationIcon">

    <provider
      android:authorities="com.mirfatif.permissionmanagerx.debug.FileProvider"
      android:name="androidx.core.content.FileProvider"
      tools:ignore="ExportedContentProvider"
      tools:replace="android:authorities" />

  </application>

</manifest>
