img.media,
video.media {
    max-height: 90vh;
    object-fit: contain;
    border-radius: 10px;
    margin: 5px;
    box-shadow: 0 2px 10px 0 grey;
}

@media (min-width: 768px) and (orientation: landscape) {

    img.media,
    video.media {
        max-width: min(35vw, 400px);
    }
}

@media (max-width: 767px) and (orientation: landscape) {

    img.media,
    video.media {
        max-width: 45vw;
    }
}

@media (orientation: portrait) {

    img.media,
    video.media {
        max-width: min(90vw, 400px);
    }
}

.dim-text {
  opacity: 0.7;
}


:root  > * {
    --md-primary-fg-color: #007F7F;
}
